/* practice set 1 */
.title{
    text-align: center;
}

#box{
    background-color: #00ff00;
}

.heading{
    color: #ff0000;
}

button{
    background-color: #00ff00;
}

/* Practice set 2 */

#q1heading{
    text-align: center;
    text-transform: uppercase;
}

*{
    font-family: 'Times New Roman';
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}